*.gcda
*.gcno
*.la
*.o
*~
.deps
.libs
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
Makefile
Makefile.in
config-manager-*.tar.gz
