[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ext/CLI11"]
	path = ext/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "ext/Jinja2Cpp"]
	path = ext/Jinja2Cpp
	url = https://github.com/adelplanque/Jinja2Cpp.git
[submodule "ext/subprocess"]
	path = ext/subprocess
	url = https://github.com/benman64/subprocess.git
